body {
    margin: 0;
    padding: 0;
    background-color: rgb(44, 44, 44);
    height: 100px;
}

.invisible {
    display: none !important;
}

.hidden {
    visibility: hidden !important;
}

.text-truncate {
    overflow: hidden;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

#mapViewOptions {
    position: absolute;
    background: #fff;
    padding: 10px;
    font-family: "Open Sans", sans-serif;
}

ul {
    margin: 1px;
}

.topRow {
    display: flex;
    flex-direction: column;
}

.openbtn {
    font-size: 25px;
    cursor: pointer;
    background-color: rgba(51, 51, 51, 0.95);
    color: white;
    padding: 10px;
    padding-top: 8px;
    border: none;
    border-radius: 25%;
    margin: 1vh;
    text-align: start;
}

.censusInfo {
    width: 100%;
    position: absolute;
    z-index: 100;
    font-family: sans-serif;
    padding: 10px;
    padding-top: 3px;
    padding-bottom: 2px;
    border: 2px solid black;
    font-size: 14px;
    color: black;
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0.85);
    display: inline-block;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.title-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50px;

    #areaName {
        width: 300px;
        display: inline-block;
        max-width: 80%;
        text-decoration: underline;
        text-align: center;
        white-space: normal;
        margin-bottom: 3px;
    }
}

.expandDataMSG,
.hideDataMSG {
    display: flex;
    justify-content: center;
}

.expandDataMSG {
    margin-top: 3px;
}

li {
    margin-left: 0;
}

.flex-line {
    display: flex;
    justify-content: space-between;
}

.right-align {
    display: inline-block;
    width: 130px;
}

.sidenav {
    height: 100%; 
    width: 0px;
    position: fixed; 
    z-index: 200; 
    top: 0; 
    left: 0;
    background-color: rgb(17, 17, 17);
    overflow-x: hidden; 
    transition: 0.3s;

    a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        font-weight: bold;
        text-shadow: 3px 2px black;
        color: #ffffff;
        display: block;
        transition: 0.3s;

        &:hover {
            color: #f1f1f1;
        }
    }

    .closebtn {
        position: absolute;
        color: white;
        top: 0;
        right: 25px;
        font-size: 50px;
        margin-left: 50px;
    }
}

.link {
    a {
        transition: all 0.1s linear;

        &:hover {
            transform: scale(1.05);
        }
    }
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    height: auto;
    width: 100%;
    z-index: -100;
}

.buttons-container {
    position: absolute;
    margin: auto;
    top: 80%;
    right: 70%;
    bottom: 0;
    left: 0;
    width: 290px;
    height: 100px;
    border-radius: 40px;
    background: transparent;
    box-shadow: inset 0 0 2px 2px rgba(0, 0, 0, 0.5);
}
.selector {
    ul {
        list-style: none;
        width: inherit;
        height: inherit;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-inline-start: 0px;
    }
    li.mapView {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 1px;
        height: 90px;
        width: 100px;
        background: #202020;
        border-top: 1px solid #353535;
        box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.5);
        transition: all 0.5s;
    }
    li:nth-of-type(1).mapView {
        border-top-left-radius: 40px;
        border-bottom-left-radius: 40px;
    }
    li:last-of-type.mapView {
        border-top-right-radius: 40px;
        border-bottom-right-radius: 40px;
    }
    li:hover.mapView {
        cursor: pointer;
    }
    a {
        display: inline-block;
        color: gray;
        text-decoration: none;
        font-size: 25px;
        transition: all 0.5s;
    }
}

.active {
    background: #ebe9e9 !important;
    border-top: none !important;
    border-bottom: 1px solid #252525 !important;
    box-shadow: inset 0 0 10px 1px rgba(0, 0, 0, 0.8) !important;
}
a.active-text {
    color: rgb(41, 6, 194) !important;
    text-shadow: 0 0 15px rgba(91, 148, 194, 0.5) !important;
}

.bottomnav { 
    width: 100%;
    position: fixed; 
    z-index: 200; 
    bottom: 0; 
    background-color: rgb(17, 17, 17);
    transition: 0.3s; 

    a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        font-weight: bold;
        text-shadow: 3px 2px black;
        color: #ffffff;
        display: block;
        transition: 0.3s;

        &:hover {
            color: #f1f1f1;
        }
    }

    .closebtn {
        color: white;
        top: 0;
        right: 25px;
        font-size: 50px;
        margin-left: 50px;
    }

    .openBottomBar {
        color: white;
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 10px;
    }

    .bottomNavWrapper {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 5px;
    }

    .closeBottomBar {
        color: white;
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 10px;
    }
}

@media all and (min-width: 600px) and (max-width: 799px) {
    .data-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .left-data,
    .right-data {
        width: 45%;
    }

    .right-align {
        display: inline-block;
        width: 115px;
    }
}

@media all and (min-width: 800px) {
    .censusInfo {
        position: absolute;
        font-family: sans-serif;
        margin-top: 1px;
        margin-right: 1px;
        padding: 5px;
        width: 40%;
        border: 2px solid black;
        font-size: 14px;
        color: black;
        border-radius: 3px;
        background-color: rgba(255, 255, 255, 0.85);
        padding: 2rem;
        display: inline-block;
        right: 0px;
    }

    .title-wrapper {
        display: flex;
        justify-content: center;

        #areaName {
            width: 300px;
            display: inline-block;
            min-height: 50px;
            max-width: 80%;
            text-decoration: underline;
            text-align: center;
            white-space: normal;
            margin-bottom: 10px;
        }
    }

    .flex-line {
        display: flex;
        justify-content: space-between;
    }

    .right-align {
        display: inline-block;
        width: 110px;
    }

    .inactive {
        display: none !important;
    }
}

@media all and (min-width: 1400px) {
    .censusInfo {
        position: absolute;
        font-family: sans-serif;
        margin-top: 1px;
        margin-right: 1px;
        padding: 5px;
        width: 25%;
        border: 2px solid black;
        font-size: 14px;
        color: black;
        border-radius: 3px;
        background-color: rgba(255, 255, 255, 0.85);
        padding: 2rem;
        display: inline-block;
        right: 0px;
    }

    .right-align {
        display: inline-block;
        width: 140px;
    }
}

#toggle-map {
    display: inline-block;
    border-radius: 4px;
    background-color: #4684e7;
    border: none;
    color: #ffffff;
    text-align: center;
    font-size: 15px;
    padding: 10px;
    width: 220px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.sideNavWrapper {
    margin-top: 150px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.button {
    margin: auto;
}